:root 
{
	--main-color: #C68B03;
}

header{
        background: var(--main-color);
}

#logo, #logoTitle{
	color: white;
}

#logoTitle{
       font-family: 'Kanit', sans-serif; 
}

@media screen and (max-width: 1399px) { /*xl*/
        
	#logo{
		font-size: 4rem;
	}
 
        header{
                padding-top:1rem;
                padding-bottom:1rem;
        }

	main{
		margin-top: 6rem;
	}

}

@media screen and (max-width: 1199px) { /*lg*/
        
	#logo{
			font-size: 3.5rem;
	}

        header{
                padding-top:0.875rem;
                padding-bottom:0.875rem;
        }

		main{
			margin-top: 5.25rem;
		}

}

@media screen and (max-width: 991px) { /*md*/
        
	#logo{
			font-size: 3rem;
	}

        header{
                padding-top:0.75rem;
                padding-bottom:0.75rem;
        }

		main{
			margin-top: 4.5rem;
		}

}

@media screen and (max-width: 767px) { /*sm*/
        
	#logo{
			font-size: 2.5rem;
	}

        header{
                padding-top:0.625rem;
                padding-bottom:0.625rem;
        }

		main{
			margin-top: 3.75rem;
		}

}

@media screen and (max-width: 575px) { /*xs*/
        
	#logo{
			font-size: 2rem;
	}

        header{
                padding-top:0.5rem;
                padding-bottom:0.5rem;
        }

		main{
			margin-top: 3rem;
		}
}
