:root 
{
	--main-color: #220547;
}

header{
        background: var(--main-color);
}

#logo, #logoTitle{
	color: white;
}

#logoTitle{
       font-family: 'Kanit', sans-serif; 
}

@media screen and (max-width: 1399px) { /*xl*/
        
	#logo{
		font-size: calc(1rem * -xl-font-factor * 2);
	}
 
	header{
		padding-top:calc((1rem * -xl-font-factor * 2) / 3);
		padding-bottom:calc((1rem * -xl-font-factor * 2) / 3);
	}

	main{
		margin-top: calc((1rem * -xl-font-factor * 2) * (5 / 3));
	}

}

@media screen and (max-width: 1199px) { /*lg*/
        
	#logo{
		font-size: calc(1rem * -lg-font-factor * 2);
	}
 
	header{
		padding-top:calc((1rem * -lg-font-factor * 2) / 3);
		padding-bottom:calc((1rem * -lg-font-factor * 2) / 3);
	}

	main{
		margin-top: calc((1rem * -lg-font-factor * 2) * (5 / 3));
	}

}

@media screen and (max-width: 991px) { /*md*/
        
	#logo{
		font-size: calc(1rem * -md-font-factor * 2);
	}
 
	header{
		padding-top:calc((1rem * -md-font-factor * 2) / 3);
		padding-bottom:calc((1rem * -md-font-factor * 2) / 3);
	}

	main{
		margin-top: calc((1rem * -md-font-factor * 2) * (5 / 3));
	}

}

@media screen and (max-width: 767px) { /*sm*/
        
	#logo{
		font-size: calc(1rem * -sm-font-factor * 2);
	}
 
	header{
		padding-top:calc((1rem * -sm-font-factor * 2) / 3);
		padding-bottom:calc((1rem * -sm-font-factor * 2) / 3);
	}

	main{
		margin-top: calc((1rem * -sm-font-factor * 2) * (5 / 3));
	}

}

@media screen and (max-width: 575px) { /*xs*/
        
	#logo{
		font-size: calc(1rem * -xs-font-factor * 2);
	}
 
	header{
		padding-top:calc((1rem * -xs-font-factor * 2) / 3);
		padding-bottom:calc((1rem * -xs-font-factor * 2) / 3);
	}

	main{
		margin-top: calc((1rem * -xs-font-factor * 2) * (5 / 3));
	}
}
