:root 
{
	--main-color: #44814C;
}

header{
	background: var(--main-color);
}

#logo, #logoTitle{
	color: white;
}

@media screen and (max-width: 1399px) { /*xl*/
        
	#logo, #logoTitle{
		font-size: 4rem;
	}
 
        header{
                padding-top:2rem;
                padding-bottom:2rem;
        }

}

@media screen and (max-width: 1199px) { /*lg*/
        
	#logo, #logoTitle{
			font-size: 3.5rem;
	}

        header{
                padding-top:1.75rem;
                padding-bottom:1.75rem;
        }

}

@media screen and (max-width: 991px) { /*md*/
        
	#logo, #logoTitle{
			font-size: 3rem;
	}

        header{
                padding-top:1.5rem;
                padding-bottom:1.5rem;
        }

}

@media screen and (max-width: 767px) { /*sm*/
        
	#logo, #logoTitle{
			font-size: 2.5rem;
	}

        header{
                padding-top:1.25rem;
                padding-bottom:1.25rem;
        }

}

@media screen and (max-width: 575px) { /*xs*/
        
	#logo, #logoTitle{
			font-size: 2rem;
	}

        header{
                padding-top:1rem;
                padding-bottom:1rem;
        }
}
